auth_plugin /usr/lib/go-auth.so

auth_opt_backends http
auth_opt_http_host ${SPRING_HOST_HTTP}
auth_opt_http_port 8088
auth_opt_http_method POST
auth_opt_http_params_mode json
auth_opt_http_response_mode status
auth_opt_http_getuser_uri /api/internal/mqtt/auth
auth_opt_http_aclcheck_uri /api/internal/mqtt/acl


allow_anonymous true
auth_opt_anonusername AnonymousIoT

# --- Caching Options ---
auth_opt_cache true
auth_opt_auth_cache_seconds 300
auth_opt_acl_cache_seconds 300
auth_opt_auth_jitter_seconds 30
auth_opt_acl_jitter_seconds 30

# --- Logging Options ---
auth_opt_log_level info

# --- Listener ---
listener 1883
protocol mqtt

# --- TLS Listener ---
listener 8883
protocol mqtt
cafile /mosquitto/certs/ca.crt
keyfile /mosquitto/certs/server.key
certfile /mosquitto/certs/server.crt

require_certificate false

# --- Persistence ---
persistence true
persistence_location /mosquitto/data/
log_dest file /mosquitto/log/mosquitto.log
log_type all
